body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container{
  background: white;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.app {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.841);
  border-radius: 5px;
  font-size: 16px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  text-align: center;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.bought {
  background-color: #e8f5e9;
  text-decoration: line-through;
  color: grey;
  
}

.button-container {
  display: flex;
  gap: 2px; 
  justify-content: flex-end; 
  flex-wrap: nowrap;
  
}

.edit-btn {
  background-color: #ffcc00;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 50px;
  
  
  
}

.remove-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  
}

